.DS_Store
bootstrap/flux.dev-*.key

# YAML files decrypted by the Helm secrets plugin
*.yaml.dec

# Developers' local secrets files
secrets.local.yaml 
secret.local.yaml
# Developers' dev secrets files
secrets.dev-*.yaml
!charts/*/templates/secret.local.yaml

# AWS developer environment secrets files
secrets.dev-*.yaml

# Cached dependent charts
charts/**/charts/*.tgz
